.serverless
node_modules
./user/node_modules
./user/serverless
./user/package-lock.json
./product/node_modules
./product/serverless
./product/package-lock.json
./dependency/node_modules
.env
batch-exceljson/.DS_Store
jobs/.DS_Store
product/.DS_Store
users/.DS_Store
organization/.DS_Store
organization/package-lock.json
batch-exceljson/testdata.json
*.log
batch-exceljson/*.log
_samplefile/*.*
product/uploads/*.xlsx
extractor/library/tests/